In [15]:
import numpy as np
import pandas as pd

In [16]:
data_order = pd.read_excel('../resource/附件1 近5年402家供应商的相关数据.xlsx', sheet_name=0)
data_order.head()

,供应商ID,材料分类,W001,W002,W003,W004,W005,W006,W007,W008,...,W231,W232,W233,W234,W235,W236,W237,W238,W239,W240
0,S001,B,0,0,0,43,0,0,0,0,...,1,0,0,1,0,1,0,0,0,0
1,S002,A,1,1,0,1,0,0,0,0,...,0,0,1,0,0,0,1,1,0,1
2,S003,C,7,1,0,0,0,1,4,50,...,10,3,50,20,20,7,10,9,20,10
3,S004,B,0,1,1,100,0,85,0,0,...,1,0,1,0,0,0,0,1,0,0
4,S005,A,30,60,60,60,70,70,60,70,...,80,70,70,70,70,70,70,70,70,80

In [17]:
data_support = pd.read_excel('../resource/附件1 近5年402家供应商的相关数据.xlsx', sheet_name=1)
data_support.head()

,供应商ID,材料分类,W001,W002,W003,W004,W005,W006,W007,W008,...,W231,W232,W233,W234,W235,W236,W237,W238,W239,W240
0,S001,B,0,0,0,0,0,0,0,0,...,0,0,0,1,0,2,0,0,0,0
1,S002,A,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,S003,C,8,1,0,0,0,1,5,58,...,9,4,54,20,20,8,18,10,22,11
3,S004,B,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,S005,A,37,62,60,65,76,76,65,71,...,84,78,77,79,78,75,74,74,76,81

In [18]:
n_suppliers = len(data_order) 
supplier_ids = data_order['供应商ID'].values 

indicators = ['总供应量', '平均供应量', '供应周数', '供应稳定性', '最大单周供应量', '供应频率']

evaluation_matrix = pd.DataFrame(index=supplier_ids, columns=indicators)
evaluation_matrix.head()

     总供应量 平均供应量 供应周数 供应稳定性 最大单周供应量 供应频率
S001  NaN   NaN  NaN   NaN     NaN  NaN
S002  NaN   NaN  NaN   NaN     NaN  NaN
S003  NaN   NaN  NaN   NaN     NaN  NaN
S004  NaN   NaN  NaN   NaN     NaN  NaN
S005  NaN   NaN  NaN   NaN     NaN  NaN